<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/app.css">
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    <h1><img src="/static/logo.png"></h1>
    <p>{{ message }}</p>
    {# コメントです #}
    <p>{{ userName or ''}}</p>
    <p>{{ totalPay if totalpay != None else ''}}</p>
    <p>{{ userName|default('a', True) }}</p>
    <p>{{ totalPay|default('a', True) }}</p>
    <p>{{ userName|sn }}</p>
    <p>{{ totalPay|sn }}</p>

</body>
</html>